<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Peek</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
		<string>fr</string>
		<string>it</string>
		<string>es</string>
		<string>pt</string>
		<string>pl</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.plhery.PeekDeliveryTracker</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>peekdeliverytracker</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSCameraUsageDescription</key>
	<string>Peek uses the camera to scan tracking barcodes, so you can add parcels without typing.</string>
	<key>NSSupportsLiveActivities</key>
	<false/>
	<key>SDTAPIBaseURL</key>
	<string>$(SDT_API_BASE_URL)</string>
	<key>SDTAppAttestEnabled</key>
	<string>$(SDT_APP_ATTEST_ENABLED)</string>
	<key>SDTAppGroupIdentifier</key>
	<string>$(SDT_APP_GROUP_IDENTIFIER)</string>
	<key>SDTEmailOTPEnabled</key>
	<string>$(SDT_EMAIL_OTP_ENABLED)</string>
	<key>SDTLinkHosts</key>
	<string>$(SDT_LINK_HOSTS)</string>
	<key>SDTGoogleAuthEnabled</key>
	<string>$(SDT_GOOGLE_AUTH_ENABLED)</string>
	<key>SDTAppleAuthEnabled</key>
	<string>$(SDT_APPLE_AUTH_ENABLED)</string>
	<key>SDTSupabasePublishableKey</key>
	<string>$(SDT_SUPABASE_PUBLISHABLE_KEY)</string>
	<key>SDTSupabaseURL</key>
	<string>$(SDT_SUPABASE_URL)</string>
	<key>SDTUseAPI</key>
	<string>$(SDT_USE_API)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
